<%= form_with(model: representative_profile, local: true) do |form| %>
  <% if representative_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(representative_profile.errors.count, "error") %> prohibited this representative_profile from being saved:</h2>

      <ul>
      <% representative_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
