<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @bill.body %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bill.title %>
</p>

<p>
  <strong>History:</strong>
  <%= @bill.history %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bill.email %>
</p>

<p>
  <strong>Voting date:</strong>
  <%= @bill.voting_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.status %>
</p>

<p>
  <strong>Website:</strong>
  <%= @bill.website %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
