<%= form_with(model: user_state, local: true) do |form| %>
  <% if user_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_state.errors.count, "error") %> prohibited this user_state from being saved:</h2>

      <ul>
      <% user_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :district_id %>
    <%= form.number_field :district_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
