<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @vote.bill_id %>
</p>

<p>
  <strong>Thumbs up:</strong>
  <%= @vote.thumbs_up %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
