<p id="notice"><%= notice %></p>

<h1>Constituent Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituent_profiles.each do |constituent_profile| %>
      <tr>
        <td><%= constituent_profile.user_id %></td>
        <td><%= link_to 'Show', constituent_profile %></td>
        <td><%= link_to 'Edit', edit_constituent_profile_path(constituent_profile) %></td>
        <td><%= link_to 'Destroy', constituent_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constituent Profile', new_constituent_profile_path %>
