<%= form_with(model: bill_vote, local: true) do |form| %>
  <% if bill_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill_vote.errors.count, "error") %> prohibited this bill_vote from being saved:</h2>

      <ul>
      <% bill_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bill_id %>
    <%= form.number_field :bill_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
